html
	head
		title USER INFO APP
	body

		//- NAV BAR
		nav
			a(href='/') USER INFO APPLICATION
			ul
				li 
					a(href='/search') SEARCH
				li
					a(href='/register') CREATE USER

		//- INDEX WITH ALL USERS
		h1 All users
		each user in parsedUsers
			p Name: #{user.firstname} #{user.lastname}
			p Email: #{user.email}