extends ./application.pug

block index

	.container
		br
		h4 All users:
		br
		each user in users
			.card.card-block
				h6(class="card-title")= user.firstname + " " + user.lastname
				p(class="card-text")= "Email: " + user.email