extends ./application.pug

block content

	h1 User Info Application
	.container
		h2 All users:
		
		each user in users
			.card.card-block
				h4(class="card-title")= user.firstname + " " + user.lastname
				p(class="card-text")= "Email: " + user.email