html
	head
		title CREATE USER
	body

		//- NAV BAR
		nav
			a(href='/') USER INFO APPLICATION
			ul
				li 
					a(href='/search') SEARCH
				li
					a(href='/register') CREATE USER

		//- REGISTER FORM
		h1 Create user

		form(action='/register' method='post')
			p
				label(for='firstname') First name:
				input(type='text', placeholder='type first name here...', name='newfirstname')
			p
				label(for='lastname') Last name:
				input(type='text', placeholder='type last name here...', name='newlastname')
			p
				label(for='email') E-mail:
				input(type='text', placeholder='type email here...', name='newemail')
			button(type='submit') Register me now
