extends ./application.pug

block search

	.main.container.row
		.col-md-6.col-md-offset-3
			h1.display-4.m-b-2 Search

			//- search bar
			//-  a form element with a method attribute and an action attribute
			//-  method refers to the HTTP method (POST) that the browser uses to submit the form: post because you post information to the web server
			//- action refers to where the form data will be processed, in this case in search.pug
			form(method='POST' action='/search')
				div.form-group
					label(for='search') Search:
					input#search.form-control(type='text', placeholder="type here the name of the user you are looking for" name='first name')