html
	head
		title SEARCH
	body

		//- NAV BAR
		nav
			a(href='/') USER INFO APPLICATION
			ul
				li 
					a(href='/search') SEARCH
				li
					a(href='/register') REGISTER

		//- SEARCH FORM
		h1 Search
		
		form(action='/search' method='post')
			label(for='searchquery') Search:
			input(type='text', placeholder='type here...', name='searchquery')
			button(type='submit') Search