html
	head
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous")

		title USER INFO APP
	body
		//- load navbar.pug
		include navbar

		//- insert information from another pug file, in this case from ./index.pug
		block index

		//- insert information from search.pug file
		block search

		//- insert information from register.pug file
		block register
